src/Obj*
src/Debug
src/Release
src/GvimExt
src/*.obj
src/vim_vs2010.log
src/vim_vs2010.suo
src/vim_vs2010.vcxproj.user
src/vimrun.exe
src/gvim.exe
src/gvimd.exe
src/xxd
src/uninstal.exe
src/install.exe
src/*.pdb
src/*.ilk
*.swp



